APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- الداتابيز المظبوطة لـ TablePlus ---
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gradprojectdb
DB_USERNAME=root
DB_PASSWORD=

# --- التعديل السحري هنا (غيرناهم من database لـ file) ---
# ده هيخلي لاراڤل ميسألش على الداتابيز وهو لسه بيفتح
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=local
BROADCAST_CONNECTION=log
MAIL_MAILER=log